div.small {
    border-top: 4px solid #900c3f;
    margin: 1rem;
    width: 3rem;
}
body[dir='rtl'] .breadcrumb-item::before{
    float: right;
    padding: 0 10px;
}
.breadcrumb .breadcrumb-item a{
    color: #900c3f !important;  
    text-decoration: none;
}
.breadcrumb .nav-link{
    display: inline-block;
}
.breadcrumb .active{
    color: #000 !important;  
}
.product , .breadcrumb-nav{
    margin: 40px;
}

div .list-group-item{
    border: none;
    background-color: #f2f2f2 !important;
}
.form-check-input:checked{
    background-color: #900c3f !important;
    border-color: #900c3f !important;
}
.list-group-item label{
    color: #900c3f;
}
.bi {
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}
.bi:hover {
    transform: scale(1.3);
}

.price-sec label{
    font-size: 1rem;
}
.product{
    margin: 0px !important;
}
.product img , .auth-sec img{
    height: 65vh;
}

@media only screen and (max-width: 770px) {
    .product img {
        height: 65vh;
    }
    .price-sec label , .name-auth-sec label{
        font-size: 2vw !important;
    }
    .price-sec li , .name-auth-sec li{
        padding: 8px 8px !important;
    }
}
@media only screen and (max-width: 570px) {
    .price-sec label , .name-auth-sec label{
        font-size: 4vw !important;
    }
}
@media only screen and (max-width: 480px) {
    #breadcrumb {
        font-size: 3vw !important;
    }
}
@media only screen and (max-width: 350px) {
    .product-sec .product{
        padding: 5vw !important;
    }
}
