/*     store    */
/* .card-img-overlay{
    position: relative;
}
.card-img-overlay button a{
    text-decoration: none;
    color: white;
}
.card-img-overlay button a:hover{
    text-decoration: none;
    color: #000;
} */
.card-title{
    width: 100%;
    background-color: rgba(74, 75, 75, 0.752);
    height: 2em;
    color: #ffffff !important; 
    margin-bottom: 0 !important;
    font-size: 18px;
    font-family: cursive;
}
.card-img{
    filter: blur(1.1px);
}
.heading{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
