.navbar{
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 100;
}
.navbar , .social-div , .footer-sec{
    background-color: #ccafaf !important;
}
/*  */
.black-hero {
    width: 100% !important;
}
.nav-item a {
    position: relative;
    margin-left: 10px !important;
}
  
.nav-item a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #900c3f;
    transition: 0.75s;
}
  
.nav-item a:hover:after {
    width: 100%;
}
hr{
  color: #900c3f !important;  
  opacity: 1 !important;
}
  
#navy ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.nav-link i{
    font-size: 15px;
}
.badge{
    background-color: #900c3f !important;
}
/* dir */
.nav{
    padding-inline-start: 0px !important;
}
.footer{
    padding: 0px !important;
}
.footer li{
    padding: 5px;
}
@media only screen and (max-width: 550px) {
    .footer-sec{
        font-size: 3vw;
    }
    .logo{
        height: 7vh;
    }
}
@media only screen and (max-width: 450px) {
    .navbar{
        padding: 5vw !important;
    }
    #navbarNavDropdown ul li{
        font-size: 4vw !important;
    }
    .logo{
        height: 6vh;
    }
    .navbar-toggler{
        padding: 3px 10px !important;
    }
    .footer li{
        padding: 2px;
    }
}
